#masthead {
    height: 50vh;
    min-height: 650px;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  };

  #me{
      height: 100px;
      width: 100px;
  }

  /* .career{
    animation: type 3s steps(22);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
    border-right: 4px solid black;

  }

  @keyframes type{
      0%{
          width: 0ch;

      }
      100%{
          width: 22ch;
      }
  } */